<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{css/style.css}">
<title>cấu hình - chọn môn</title>
</head>
<body>
	<h1>Cấu hình đầu điểm trọng số - chọn môn học</h1>
	
	<form th:action="@{/cauhinh/kqtimkiemmonhoc}">
			<lable for="ch_chonki">Chọn kì học:</lable> 
			<select class="" id="ch_chonki" name="id_kihoc">
				<option th:each="kihoc : ${session.listkihoc}" 
				th:value="${kihoc.id}" 
				th:text="${kihoc.hocKi.ten + ' năm học ' + kihoc.namHoc.ten}" 
				th:selected="${kihoc.id == session.id_kihoc}"></option>
			</select>
			<br>
		<lable for="ch_nhapid" >Tìm kiếm theo tên môn học:</lable>
		<input id="ch_nhapid" type="text" name="tenmonhoc" th:value="${session.tenmonhoc}">
		<button type="submit">tìm kiếm</button>
	</form>
	
	<table th:if="${not #lists.isEmpty(session.listMonHocKiHoc)}" border="1">
		<thead>
			<th>Mã môn học</th>
			<th>Tên môn học</th>
			<th>Số tín chỉ</th>
			<th></th>
		</thead>
		<tbody th:each="monhockihoc : ${session.listMonHocKiHoc}">
			<tr>
				<td th:text="${monhockihoc.monHoc.maMonHoc}"></td>
				<td th:text="${monhockihoc.monHoc.ten}"></td>
				<td th:text="${monhockihoc.monHoc.soTinChi}"></td>
				<td>
					<form th:action="@{/cauhinh/chinhsuadaudiemtrongso}">
						<input type="hidden" th:value="${monhockihoc.monHoc.id}" name="idmonhoc">
						<button type="submit">Chỉnh sửa</button>
					</form> 
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>