<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{css/style.css}">
<title>cấu hình - chọn kỳ</title>
</head>
<body>
	<h1>Cấu hình chọn kỳ</h1>
	<div class="ch_khungchonki">
		<form th:action="@{/cauhinh/chonmonhoc}">
			<lable for="ch_chonki">Chọn ki học:</lable> 
			<select class="" id="ch_chonki" name="id_kihoc">
				<option th:each="kihoc : ${session.listkihoc}" th:value="${kihoc.id}" th:text="${kihoc.ten}" ></option>
			</select>
			<br>
			<input type="submit" value="Chọn">
		</form>
	</div>
	
</body>
</html>